body {
  font-family: "Mona Sans", sans-serif;
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(142, 202, 230, 1) 0%,
    rgba(33, 158, 188, 1) 100%
  );
}
h1 {
  font-size: 32px;
  line-height: 1.5;
  margin: 10px 10px;
}
h2 {
  font-size: 56px;
  line-height: 1.5;
  margin: 10px 10px 0px 10px;
}
small {
  font-size: 22px;
  vertical-align: top;
  position: relative;
  top: 15px;
}

.tempAndIcon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
#mainIcon {
  font-size: 44px;
}
#mainIcon img {
  height: 80px;
  margin-top: 12px;
}
.conditionsLinesContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.conditions,
.hygroAnemoMeter {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  flex: 1;
  width: 300px;
  text-align: center;
}

header {
  background-color: rgba(245, 245, 245, 0.4);
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 0px 20px rgb(113, 113, 113);
  outline: 2px solid rgba(245, 245, 245, 0.3);
  outline-offset: -4px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  margin: auto;
  padding: 15px 0px 15px 0px;
  width: 100%;
  max-width: 350px;
}
#searchFormInput {
  flex: 1;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  height: 25px;
  opacity: 50%;
}
.buttonUnitDgree {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 10px 7.5px;
  background-color: #3f569a;
}
#searchFormButton,
.buttonUnitDgree {
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  border: 0px;
  border-radius: 5px;
}
#searchFormButton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #023047;
}

#searchIcon {
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
}
.secondContainer {
  background-color: rgba(245, 245, 245, 0.5);
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 0px 20px rgb(113, 113, 113);
  outline: 2px solid rgba(245, 245, 245, 0.3);
  outline-offset: -4px;
  font-size: 14px;
  font-weight: 400;
}
div.allFutureDayForecast {
  font-weight: 500;
  display: flex;
  overflow-x: auto;
  cursor: grab;
}
div.allFutureDayForecast::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 20px;
}
div.allFutureDayForecast::-webkit-scrollbar {
  height: 12px;
}
div.allFutureDayForecast::-webkit-scrollbar-thumb {
  background-color: #3f569a;
  border-radius: 10px;
}
div.allFutureDayForecast:active {
  cursor: grabbing;
}
div.futureDayForecast {
  margin: 20px 11px;
  border-radius: 5px;
  padding: 0;
}
.forecastyDayIcon {
  height: 50px;
}
.forecastDayTempertureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  max-width: 58px;
}
.forecastDayTemperture {
  font-size: 14px;
  margin: 0px 4px;
  display: inline-block;
}
footer {
  font-size: 11px;
  margin-top: 25px;
}
h3 {
  margin-top: 5px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #3f569a;
  font-weight: 400;
}
a:hover {
  color: rgb(107, 20, 151);
  text-decoration: underline;
}
